.btn-floating{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.form-control.underline,
.card.underline{
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
}

input.input-pwd {
    -webkit-text-security: disc;
}

.font-sm{
    font-size: .8rem;
}

.navbar.nav-divider{
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .3);
}

.no-border{
    border: 0 !important;
}

.txt-ellipsis{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.txt-ellipsis-2line{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}